<script setup>
defineProps([
  'label',
  'modelValue',
  'typeInput',
  'required'
]);

defineEmits(['update:modelValue', 'change']);

</script>

<template>
  <div class="form-floating mb-3">
    <input @input="$emit('update:modelValue', $event.target.value)"
           @change="$emit('change')"
           model-value="modelValue"
           :required="required"
           :type="typeInput ?? 'text'"
           :value="modelValue"
           class="form-control" id="floatingInput" placeholder="Nome" :label="label">
    <label for="floatingInput">{{ label }} <span class="text-danger">*</span></label>
  </div>
</template>