@import '../../../frontend/src/assets/base.css';

#app {
    width: 100%;
    font-weight: normal;
}

@media (min-width: 1024px) {
    body {
        display: flex;
        place-items: center;
    }
}
