/* eslint-disable */
<script setup>
/* eslint-disable */
import {computed, onBeforeMount, onMounted, reactive, ref} from "vue";
import Input from "@/components/InputComponent.vue";
import axios from "axios";
import {api} from "@/http/api";
import { useRoute } from 'vue-router';
import router from "@/router";

const route = useRoute();

const id = ref(null);

const erro = ref(false);
const erroMessage = ref(false);
const success = ref(false);

const clientData = reactive({
  nome: '',
  id_usuario: '',
  codigo: '',
  cpf: '',
  cep: '',
  endereco: '',
  fone: '',
  logradouro: '',
  numero: '',
  bairro: '',
  cidade: '',
  complemento: '',
  limite_credito: '',
  validade: ''
})

onMounted(async () => {

  if(route.params.id){
    id.value = route.params.id
    const response = await api.get(`/client/${route.params.id}`)


    if(!response.data.error){
      const { data } = response;
      const date = new Date(data[0].validade)
      var dateFormat = date.getFullYear() + "-" + (date.getMonth()+1) + "-" + date.getDate()
      clientData.nome = data[0].nome
      clientData.id_usuario =  data[0].id_usuario
      clientData.codigo = data[0].codigo
      clientData.cpf = data[0].cpf_cnpj
      clientData.cep = data[0].cep
      clientData.endereco = data[0].endereco
      clientData.fone =  data[0].fone
      clientData.logradouro =  data[0].logradouro
      clientData.numero = data[0].numero
      clientData.bairro = data[0].bairro
      clientData.uf = data[0].uf
      clientData.cidade = data[0].cidade
      clientData.complemento = data[0].complemento
      clientData.limite_credito = data[0].limite_credito
      clientData.validade = new Date(data[0].validade).toISOString().substr(0, 10)
    }
  }
})


const fetchCep = async () => {
  const response = await axios.get(`http://viacep.com.br/ws/${clientData.cep}/json/`);
  const {data} = response;

  data.erro ? erro.value = true : erro.value = false;

  if (data) {
    clientData.bairro = data.bairro
    clientData.complemento = data.complemento
    clientData.cidade = data.localidade
    clientData.logradouro = data.logradouro
    clientData.endereco = data.logradouro
    clientData.uf = data.uf
  }
}

async function saveData() {
  const limite_de_credito = clientData.limite_credito.replace(/[\.,]/g, "");

  console.log(clientData)

  const sendData = {
    id_usuario: Number(clientData.id_usuario),
    codigo: clientData.codigo,
    nome: clientData.nome,
    cpf_cnpj: clientData.cpf,
    cep: clientData.cep.replace(/[\-]/g, ""),
    logradouro: clientData.logradouro,
    endereco: clientData.endereco,
    bairro: clientData.bairro,
    cidade: clientData.cidade,
    uf: clientData.uf,
    complemento: clientData.complemento,
    fone: clientData.fone,
    limite_credito: parseFloat(limite_de_credito),
    validade: clientData.validade,
    numero: Number(clientData.numero)
  }

  const response =  id.value ? await api.put(`/client/${id.value}`, sendData) : await api.post(`/`, sendData);

  console.log(response.data)

  if (response.data.errors) return erroMessage.value = true;
  if (response.status === 200) {
    success.value = true
    await router.push('/list')
  }
}
</script>

<template>

  <div class="container-xxl">
    <div v-if="success" class="alert alert-success">Cadastro realizado com sucesso</div>
    <div v-if="erroMessage" class="alert alert-danger">Houve um erro no cadastro. Verifique os campos!</div>

    <div class="d-flex justify-content-between">
      <h3 class="card-title mb-4">Cadastrar</h3>
      <router-link to="/list">
        <button class="btn btn-sm btn-secondary mb-4" type="button">Listagem</button>
      </router-link>

    </div>

    <form @submit.prevent="saveData($event)" method="post">
      <div class="row">
        <div class="col-lg-6">
          <Input :required="true" v-model:modelValue="clientData.nome" label="Nome"/>
        </div>
        <div class="col-lg-6">
          <Input :required="true" v-model:modelValue="clientData.id_usuario" label="Id Usuario (Numeros)"/>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="form-floating mb-3">
            <input required="true" v-mask="['###.###.###-##', '##.###.###/####-##']" v-model="clientData.cpf"
                   type="text"
                   class="form-control" id="cpf"
                   placeholder="CEP">
            <label for="cpf">CPF / CNP <span class="text-danger">*</span></label>
          </div>
        </div>

        <div class="col-lg-6">
          <Input :required="true" v-model:modelValue="clientData.codigo" label="Codigo"/>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="form-floating mb-3">
            <input required="true" @change="fetchCep" v-mask="['#####-###']" v-model="clientData.cep" type="text"
                   class="form-control"
                   :class="{'is-invalid' : erro}"
                   id="floatingInput"
                   placeholder="CEP">
            <label for="floatingInput">CEP <span class="text-danger">*</span></label>
          </div>
          <span v-if="erro" class="invalid-feedback"> Cep nao encontrado</span>
        </div>
        <div class="col-lg-6">
          <Input :required="true" v-model:modelValue="clientData.endereco" label="Endereco"/>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <Input :required="true" v-model:modelValue="clientData.logradouro" label="Logradouro"/>
        </div>
        <div class="col-lg-6">
          <Input :required="true" v-model:modelValue="clientData.numero" label="Numero"/>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <Input :required="true" v-model:modelValue="clientData.bairro" label="Bairro"/>
        </div>
        <div class="col-lg-6">
          <Input :required="true" v-model:modelValue="clientData.cidade" label="Cidade"/>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <Input v-model:modelValue="clientData.complemento" label="Complemento"/>
        </div>
        <div class="col-lg-6">
          <Input :required="true" v-model:modelValue="clientData.uf" label="UF"/>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="form-floating mb-3">
            <input required="true" v-mask="['(##) ####-####', '(##) #####-####']" v-model="clientData.fone" type="text"
                   class="form-control" id="fone"
                   placeholder="Fone">
            <label for="fone">Fone <span class="text-danger">*</span> </label>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-floating mb-3">
            <input required="true" type="text" class="form-control" id="floatingInput" placeholder="Limite Credit"
                   v-mask="['#,##', '##,##', '###,##', '####,##', '#.####,##', '##.####,##', '###.####,##', '####.####,##']"
                   v-model="clientData.limite_credito">
            <label for="floatingInput">Limite Credito <span class="text-danger">*</span></label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <Input :required="true" typeInput="date" v-model:modelValue="clientData.validade" label="Validade"/>
        </div>
      </div>

      <div class="">
        <button class="btn btn-sm btn-primary" type="submit">Salvar</button>
      </div>
    </form>
  </div>


</template>

<style scoped>
</style>

