<script setup>
    import {api} from "@/http/api";
    import { ref} from "vue";
    import {useRouter} from "vue-router";
    const router = useRouter()

    const clients = ref([])

    api.get('/').then(response => response).then(response => {
      clients.value = response.data
    });

   const deleteClient = async (id) => {
     const el = clients.value.findIndex(client => client.id === id);

     if(el){
       clients.value.splice(el, 1)
     }

     await api.delete(`/client/${id}`);
   }
</script>
<template>
  <div class="px-5">

    <div class="d-flex justify-content-between">
      <h3 class="card-title mb-4">Listagem</h3>
      <router-link to="/">
        <button class="btn btn-sm btn-secondary mb-4" type="button">Cadastrar</button>
      </router-link>

    </div>

    <div class="table-responsive">

      <table class="table  table-hover">
        <thead class="thead-dark">
        <tr>
          <th scope="col">
            id_usuario
          </th>
          <th>
            nome
          </th>
          <th scope="col">codigo</th>
          <th scope="col">cpf_cnpj</th>
          <th scope="col">cep</th>
          <th scope="col">logradouro</th>
          <th scope="col">endereco</th>
          <th scope="col">bairro</th>
          <th scope="col">cidade</th>
          <th scope="col">uf</th>
          <th scope="col">complemento</th>
          <th scope="col">fone</th>
          <th scope="col">limite_credito</th>
          <th scope="col">validade</th>
          <th scope="col">numero</th>
          <th scope="col">Acao</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="client in clients" :key="client.id">
          <td>{{ client.id_usuario }}</td>
          <td>{{ client.nome }}</td>
          <td>{{ client.codigo}}</td>
          <td>{{ client.cpf_cnpj }}</td>
          <td>{{ client.cep }}</td>
          <td :title="client.logradouro">{{ client.logradouro.slice(0, 4) }}...</td>
          <td :title="client.endereco">{{ client.endereco.slice(0, 4) }}...</td>
          <td :title="client.bairro">{{ client.bairro.slice(0, 4) }}...</td>
          <td>{{ client.cidade }}</td>
          <td>{{ client.uf }}</td>
          <td>{{ client.complemento }}</td>
          <td>{{ client.fone }}</td>
          <td>{{ client.limite_credito }}</td>
          <td>{{ new Date(client.validade).toLocaleDateString('pt-PT') }}</td>
          <td>{{ client.numero }}</td>
          <td>
            <svg @click="router.push(`/edit/${client.id}`)" style="cursor: pointer" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square mr-3" viewBox="0 0 16 16">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg>
            <svg @click="deleteClient(client.id)" style="cursor: pointer" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash text-danger" viewBox="0 0 16 16">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
              <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
            </svg>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
